html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Alata;
  font-style: normal;
}

#topnav {
  height: 76px;
  width: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-links {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#statement-box {
  margin-top: 64px;
  font-weight: normal;
  font-size: 28px;
  line-height: 38.64px;
  color: #4A4E4E;
 }

#statement-box, #scroll-container {
  grid-column-start: 2;
  grid-column-end: 12;
}

#scroll-container {
  display: none;
  margin-top: 219px;
}

 #scroll {
  display: inline-block;
  font-size: 36px;
  line-height: 50px;
  color: #949494;
 }

 #down-arrow {
  height: 26px;
  padding-top: 10;

 }

 #ellipse {
  display: inline-block;
  text-align: center;
  margin: 15 15;
  height: 45px;
  width: 45px;
  background: #FBFBFB;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 4px 0px 4px rgba(0, 0, 0, 0.12), 0px -4px 4px rgba(0, 0, 0, 0.12), -4px 0px 4px rgba(0, 0, 0, 0.12);
 }

.nav-container {
  display: flex; 
}

#spacer {
  flex-grow: 1;
}

#double-spacer {
  flex-grow: 2;
  justify-content: flex-end;
  display: flex;
}

#statement-box {
  flex-grow: 10;
}

#statement {
  margin-top: 64px
}

#logo {
  height: 21px;
  width: 95px;
  margin-top: 40px;
  margin-left:42px;
}

#plus {
  height: 26px;
  width: 26px;
  margin-top: 40px;
  margin-right: 29px;
}

.about {
  margin-top: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.085em;
  color: #949494;
}

.about span {
  border-bottom: #4CB0B0 3px solid;
}

#brittany {
  grid-column-start: 2;
  grid-column-end: 7;
}

#lynzie {
  grid-column-start: 8;
  grid-column-end: 12;
}

#featured {
  margin-top: 207px;
  font-size: 28px;
  line-height: 39px;
  color: #4A4E4E;
  grid-column-start: 2;
  grid-column-end: 7;
}

#featured span {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 14px;
}

.work {
  margin-top: 14px;
  grid-column-start: 2;
  grid-column-end: 12;
  height: 243px;
  border: 1px black solid;
}

.work-description {
  margin-top: 15px;
  grid-column-start: 2;
  grid-column-end: 12;
  font-size: 18px;
  line-height: 25px;
  color: #4A4E4E;
  margin-bottom: 59px;
}

#collaboration {
  font-size: 28px;
  line-height: 39px;
  color: #4A4E4E;
  grid-column-start: 2;
  grid-column-end: 12;
}

#collaboration span {
  font-size: 18px;
line-height: 25px;
margin-top: 20px;
}

#chicken-and-shark {
  margin-top: 54;
    grid-column-start: 2;
  grid-column-end: 12;
}

#chicken-and-shark-photo {
 object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#footer {
  margin-top: 108px;
  height: 308px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 50px 82px auto;
  grid-template-columns: repeat(12, 1fr);
}

#cta {
  margin-top: 20px;
  font-size: 28px;
  line-height: 39px;
  color: #4A4E4E;
  grid-column-start: 2;
  grid-column-end: 12;
}

.footer-brittany, .footer-lynzie, .email, .linkedin {
  line-height: 25px;
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
}

#footer-brittany {
  margin-top: 49px;
  grid-row-start: 2;
  grid-column-start: 2;  
  grid-column-end: 7; 
}

#footer-lynzie {
  margin-top: 49px;
  grid-row-start: 2;
  grid-column-start: 7;  
  grid-column-end: 12; 
  text-align: right;
}

#footer-lynzie span, #footer-brittany span {
  border-bottom: #4CB0B0 3px solid;
}

.by {
  margin-top: 62px;
  grid-column-start: 2;
  grid-column-end: 7; 
  font-size: 14px;
  line-height: 19px;
  color: #949494;
  grid-row-start: 3;
}

#logo-bottom {
  margin-top: 62px;
  width: 81.69;
  grid-row-start: 3;
  grid-column-end: 12; 
  justify-self: end;
}

@media only screen and (min-width: 720px) {
  .about {
    display: none;
  }
  #statement-box {
    font-size: 48px;
    line-height: 66.24px;
    margin-top: 274px;
  }
  #scroll-container {
    display: inline-block;
  }
  .nav-container {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
  }
  #logo {
    margin-left:0px;
    margin-top: 29px;
  }
  #plus {
    display: none;
  }
  .header-links {
    display: flex;
    margin-right: 30px;
    font-size: 24px;
    line-height: 33px;
    color: #949494;
  }
  #links-container {
    display: flex;
    align-items: center;
    grid-column-start: 7;  
    grid-column-end: 13;  
  }
}